@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  position: sticky;
  top: 0px;

  /* border-bottom: 1px solid #e0e0e0; */
}

.navbar .right {
  display: flex;
  gap: 10px;
}

.navbar button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
}

.navbar button:hover {
  background-color: #d0d4d8;
}
section {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* Replace with your image */
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
section img {
  width: 100%;
  height: 90vh;
}

.content {
  padding: 20px;
  height: 500px;
  font-weight: 600;
}

.parallax-window {
  min-height: 750px;
  background: transparent;
  z-index: -10;
}

.tagl {
  display: flex;
  padding: 45px 65px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 90px;
}

.tagl h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.8em;
  letter-spacing: -1px;
  font-weight: 400;
  color: #465d5a;
}

.tagl h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: #465d5a;
  padding-top: 30px;
  letter-spacing: 3px;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
  padding: 50px 0px;
}

.item {
  flex-basis: 25%;
  height: 375px;
  margin: 10px 10px 0px 10px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 10px 10px 30px -10px lightblue;
  border-radius: 20px;
  text-align: center;
}

.item img {
  width: 300px;
  height: 150px;
  padding-top: 20px;
}

.item p {
  font-size: 18px;
  font-weight: 400;
}

.item p {
  padding: 10px 40px;
}

.item h3 {
  font-weight: 500;
}
